@font-face {
  font-family: water;
  src: url("https://cdn.glitch.global/97f7bbb3-2cd9-4b34-bbf2-d0a28c71f10b/Water%20Park.ttf?v=1738683075854");
}

body {
  background-color: pink;
  text-align: center;
  color: red;
  margin: 300px;
  font-family: water;
}

h1 {
  font-size: 50px;
}

#myCanvas {
  background-image: url("https://cdn.glitch.global/537207ce-6bb8-4fec-8486-abad8c269722/pngtree-beautiful-background-under-the-sea-picture-image_2443808.jpg?v=1741793767554");
  background-size: 600px 400px;
  border-radius: 300px;
  border: 5px solid red;
}
